:root {
    --primary-color: #3a4ed5;
    --background-color: #0a0647;
    --card-background: #fffffffd;
    --text-color: #ffffff;
    --input-background: rgba(143, 155, 179, 0.16);
    --button-color: #5da4d4fd;

}

*{
    .roboto-medium {
        font-family: "Roboto", serif;
        font-weight: 500;
        font-style: normal;
      }
}